<a href="{{ url('pokemons') }}">Liste des pokemons</a>
<a href="{{ url('pokemonsCreateV1') }}">Formulaire simple</a>
<a href="{{ url('pokemonsCreateV2') }}">Formulaire symfony</a>
<a href="{{ url('pokemonsCreateV3') }}">Formulaire symfony avancé</a>
<a href="{{ url('pokemonsCreateV4') }}">Formulaire symfony avancé V2</a>
<a href="{{ url('pokemon_details_v1', {'id' : '1'}) }}">Details symfony V1</a>
<a href="{{ url('pokemon_details_v2', {'id' : '1'}) }}">Details symfony avancé V2</a>